<%# this is server side comment - and won't render in html page - will only be visible in ejs file - must have closing tag - ***DON'T USE EJS CODE IN HTML COMMENT %>
<%# using the isAuthenticated check in here would work for 3 files, but make the rendering a little late %>
<%# using the isAuthenticated check in 3 individual files would make more checks, but the rendering would be faster %>
<%#if(isAuthenticated) {%>
<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
<%#}%>